body {
    width: 80%;
    font-size: 1.5em;
}
header {
    border: 2px solid rgb(33, 167, 0);
    padding: 5px 10px;
}

p {
    border: 2px solid rgb(204, 118, 204);
    padding: 5px 10px;
}

table {
    border: 1px solid #0a9c9c;
    padding: 15px;
}

td {
    padding: 15px;    
    border: 1px dotted pink;
}

.flex-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.error {
   color: red;
}